<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>

    <link rel="stylesheet" href="/static/corecss/userdashboard.css">
</head>
<body>

<div class="dashboard">

    <div class="welcome-card">

        <div class="user-image">
            <img src="https://ui-avatars.com/api/?name={{name}}&background=0D8ABC&color=fff&size=120" alt="">
        </div>

        <h1>Welcome, {{ name }}</h1>

        <p>Login Successful</p>

        {% if messages %}
            {% for message in messages %}
            <div class="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

    </div>


    <div class="cards">

        <a href="{% url 'user_profile_update' %}" class="card">
            <div class="icon">👤</div>
            <h3>Update Profile</h3>
            <p>Edit your personal details</p>
        </a>

        <a href="{% url 'change_password' %}" class="card">
            <div class="icon">🔒</div>
            <h3>Change Password</h3>
            <p>Update account password</p>
        </a>

        <a href="#" class="card">
            <div class="icon">💼</div>
            <h3>My Placements</h3>
            <p>View placement details</p>
        </a>

        <a href="#" class="card">
            <div class="icon">📜</div>
            <h3>My Certificates</h3>
            <p>View uploaded certificates</p>
        </a>

        <a href="{% url 'alumni_status' %}" class="card">
            <div class="icon">🎓</div>
            <h3>Alumni Status</h3>
            <p>Check alumni approval</p>
        </a>

        <a href="{% url 'user_logout' %}" class="card logout">
            <div class="icon">🚪</div>
            <h3>Logout</h3>
            <p>Sign out safely</p>
        </a>

    </div>

</div>

<script src="/static/js/userdashboard.js"></script>

</body>
</html>