<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Committee Members</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'corecss/members.css' %}">
</head>
<body>

<section class="committee-section">
    <h1>Committee Members</h1>

    <div class="members-grid">

        <!-- Chairman -->
        <div class="member-card">
            <img src="{% static 'images/member1.jpg' %}" alt="Chairman">
            <h3>Adil M</h3>
            <p>Chairman</p>
        </div>

        <!-- Secretary -->
        <div class="member-card">
            <img src="{% static 'images/committee/anjana.jpeg' %}" alt="Secretary">
            <h3>Mohammed Mussamil MK</h3>
            <p>Secretary</p>
        </div>

        <!-- Treasurer -->
        <div class="member-card">
            <img src="{% static 'images/member4.jpg' %}" alt="Treasurer">
            <h3>Fathima Nishva</h3>
            <p>Treasurer</p>
        </div>

        <!-- Alumni Connect -->
        <div class="member-card">
            <img src="{% static 'images/member3.jpg' %}" alt="Alumni Connect">
            <h3>Vishnu G</h3>
            <p>Arts & Sports</p>
        </div>

        <div class="member-card">
            <img src="{% static 'images/member3.jpg' %}" alt="Alumni Connect">
            <h3>Anjana M</h3>
            <p>Program Lead</p>
        </div>

        <div class="member-card">
            <img src="{% static 'images/member3.jpg' %}" alt="Alumni Connect">
            <h3>Shahana Salim</h3>
            <p>Academic Lead</p>
        </div>

        <div class="member-card">
            <img src="{% static 'images/member3.jpg' %}" alt="Alumni Connect">
            <h3>Padmaja M</h3>
            <p>Alumni Connect</p>
        </div>

        <!-- SDC Link -->
        <div class="member-card">
            <img src="{% static 'images/member1.jpg' %}" alt="SDC Link">
            <h3>Anjali P</h3>
            <p>SDC Link</p>
        </div>

        <!-- Media -->
        <div class="member-card">
            <img src="{% static 'images/member3.jpg' %}" alt="Media">
            <h3>Jishnu M </h3>
            <p>Media</p>
        </div>

        <!-- Magazine -->
        <div class="member-card">
            <img src="{% static 'images/member4.jpg' %}" alt="Magazine">
            <h3>Member Name</h3>
            <p>Magazine</p>
        </div>

        <!-- Joint Secretary -->
        <div class="member-card">
            <img src="{% static 'images/committee/anjana.jpeg' %}" alt="Joint Secretary">
            <h3>Anjana</h3>
            <p>Joint Secretary</p>
        </div>

    </div>
</section>

</body>
</html>