{% load static %}

<link rel="stylesheet" href="{% static 'corecss/placement.css' %}">


<h2 class="section-title">Placement Achievements</h2>

{% if placed_students %}
<div class="card-container">

    {% for student in placed_students %}
    <div class="card">

        {% if student.image_url %}
        <img src="{{ student.image_url }}" class="student-img">
        {% endif %}

        <h3>{{ student.student_name }}</h3>

        <p><strong>Company:</strong> {{ student.company_name }}</p>
        <p><strong>Role:</strong> {{ student.job_role }}</p>
        <p class="package">{{ student.package_lpa }} LPA</p>
        <p><strong>Placed On:</strong> {{ student.placement_date }}</p>

        <p class="caption">{{ student.caption }}</p>

    </div>
    {% endfor %}

</div>
{% endif %}